* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.box {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  width: 60%;
  margin-bottom: 10px;
}
.button {
  margin: 20px;
  background-color: transparent;
  border: 1px solid gray;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: gray;
  color: white;
}
.header {
  width: 100%;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px 5px 0px 0px;
  width: calc(100% + 2px);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #ffc100;
  box-shadow: inset;
  margin: -1px 0px 0px -1px;
}
