* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Global CSS VAR */
:root {
  --primary: #1565c0;
  --secondary: #7b1fa2;
  --error: #c62828;
  --warning: #e65100;
  --info: #01579b;
  --success: #1b5e20;
}
.inline {
  display: inline-block;
}
.box {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  width: 60%;
  margin-bottom: 10px;
}
.btn {
  margin: 20px;
  background-color: transparent;
  border: 1px solid gray;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: gray;
  color: white;
}
.header {
  width: 100%;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px 5px 0px 0px;
  width: calc(100% + 2px);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #ffc100;
  box-shadow: inset;
  margin: -1px 0px 0px -1px;
}
/* Global CSS VAR */

